    body {
      background-color: #f8f9fa;
    }

    .login-cuadro {
      max-width: 900px;
      width: 100%;
      min-height: 600px; 
    }

    .login-image {
      background-image: url('../imagenes/ArmariodeLibros-Login.jpg');
      background-size: cover;
      background-position: center;
    }

    .login-form {
      background-color: #d8f3dc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4rem;
    }

    .borde-buscador{
  border: 2px solid #74c69d;
}

.body-inicio{
  background-image: url('../imagenes/ChatGPT\ Image\ 8\ jun\ 2025\,\ 12_13_23\ p.m..png');
}